.App {
  text-align: center;
}

root {
  font-size: calc(1vw);
}

li::-webkit-scrollbar {
  width: 0.6rem;
}
 
li::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
li::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}